<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.tesnutech.mapper.HistoryTransaksiMapper">

    <insert id="tambahTransaksi" parameterType="com.example.tesnutech.pojos.HistoryTransaksiPojo">
        insert into history_transaksi(
        id_history_transaksi,
        id_user,
        id_ppob_merchant,
        invoice_number,
        service_code,
        service_name,
        jenis,
        transaction_type,
        total_amount,
        created_at)
        values(
        #{idHistoryTransaksi},
        #{idUser},
        #{idPpobMerchant},
        #{invoiceNumber},
        #{serviceCode},
        #{serviceName},
        #{jenis},
        #{transactionType},
        #{totalAmount},
        now())
    </insert>

    <select id="countHistoryTransaksi" resultType="int">
        select count(*) from history_transaksi
    </select>

</mapper>