<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.tesnutech.mapper.PpobMerchantMapper">

    <select id="getMerchant" resultType="com.example.tesnutech.model.PpobMerchantModel">
        select
        a.id_ppob_merchant as idPpobMerchant,
        a.service_code as serviceCode,
        a.service_name as serviceName,
        a.jenis as jenis,
        a.price as price,
        a.created_at as createdAt
        from ppob_merchant a
        where a.service_code = #{serviceCode}
    </select>

</mapper>